*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #1ab394;
}

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  /*background-image: url("../img/image.jpg");*/
  background-size: cover;
  background-repeat: none;
}

.wrapper {
  /*position: relative;*/
  /*left: 50%;*/
  /*width: var(--wrapper);*/
  /*height: 800px;*/
  /*-webkit-transform: translate(-50%, 0);*/
          /*transform: translate(-50%, 0);*/
  height: 100%;
  padding: 0;
}

.container {
  /*position: relative;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*width: 80%;*/
  /*height: 75%;*/
  background-color: var(--white);
  /*-webkit-transform: translate(-50%, -50%);*/
          /*transform: translate(-50%, -50%);*/
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container .left {
  float: left;
  /*width: 37.6%;*/
  width: 20.08%;
  height: 100%;
  border: 1px solid var(--light);
  border-bottom-width: 0px;
  background-color: var(--white);
}
.container .left .top {
  position: relative;
  width: 100%;
  height: 84px;
  padding: 0px;
}
.container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.container .left input {
  float: left;
  width: 90%;
  height: 42px;
  padding: 0 15px;
  border: 1px solid var(--light);
  background-color: #fff;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  border: 0;
}
.container .left input:focus {
  outline: none;
}
.container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid var(--light);
  background-color: var(--blue);
  background-image: url("../img//name-type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%;
}
.container .left .people {
  margin-left: -1px;
  /*border-right: 1px solid var(--light);*/
  border-left: 1px solid var(--light);
  width: calc(100% + 2px);
  height: 100% !important;
}
.container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 5% 16px;
  cursor: pointer;
  background-color: var(--white);
}
.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: var(--light);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.container .left .people .person img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border-radius: 50%;
}
.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  width: 70%;
  overflow: hidden !important;
  display: inline-block;
  text-overflow: ellipsis;
}
.container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: var(--grey);
  background-color: var(--white);
}
.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--grey);
  line-height: 20px;
}
.container .left .people .person.active, .container .left .people .person.active:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: var(--blue);
  width: calc(100% + 2px);
  padding-left: calc(5% + 1px);
}
.container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #63e8cd;
  width: calc(100% + 2px);
  padding-left: calc(5% + 1px);
}
.container .left .people .person.active span, .container .left .people .person:hover span {
  color: var(--white);
  background: transparent;
}
.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none;
}
.container .right {
  position: relative;
  float: left;
  /*width: 62.4%;*/
  width: 79.92%;
  height: 100%;
}
.container .right-empty {
  position: relative;
  float: left;
  /*width: 62.4%;*/
  width: 49.92%;
  height: 100%;
}
.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}
.container .right .top span {
  font-size: 15px;
  color: var(--grey);
}
.container .right .top span .name {
  color: var(--dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
.container .right .chat {
  position: relative;
  /*display: none;*/
  overflow: hidden;
  padding: 0 35px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--light);
  /*height: calc(100% - 47px);*/
  justify-content: flex-end;
  flex-direction: column;
}
.container .right .chat.active-chat {
  display: block;
  /*display: flex;*/
}
.container .right .chat.active-chat .bubble {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  word-wrap: break-word;
  max-width: 300px;
}
.container .right .chat.active-chat .bubble:nth-of-type(1) {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
}
.container .right .chat.active-chat .bubble:nth-of-type(2) {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.container .right .chat.active-chat .bubble:nth-of-type(3) {
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
}
.container .right .chat.active-chat .bubble:nth-of-type(4) {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.container .right .chat.active-chat .bubble:nth-of-type(5) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}
.container .right .chat.active-chat .bubble:nth-of-type(6) {
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}
.container .right .chat.active-chat .bubble:nth-of-type(7) {
  -webkit-animation-duration: 1.05s;
          animation-duration: 1.05s;
}
.container .right .chat.active-chat .bubble:nth-of-type(8) {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.container .right .chat.active-chat .bubble:nth-of-type(9) {
  -webkit-animation-duration: 1.35s;
          animation-duration: 1.35s;
}
.container .right .chat.active-chat .bubble:nth-of-type(10) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.container .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid var(--light);
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px;
}
.container .right .write input {
  font-size: 16px;
  float: left;
  width: 440px;
  height: 40px;
  padding: 0 10px;
  color: var(--dark);
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.container .right .write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  /*background-image: url("attachment.png");*/
  background-repeat: no-repeat;
  background-position: center;
}
.container .right .write .write-link.smiley:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  /*background-image: url("smiley.png");*/
  background-repeat: no-repeat;
  background-position: center;
}
.container .right .write .write-link.send:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  margin-left: 11px;
  content: '';
  /*background-image: url("send.png");*/
  background-repeat: no-repeat;
  background-position: center;
}
.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}
.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}
.container .right .bubble.you {
  float: left;
  color: var(--white);
  background-color: var(--blue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
}
.container .right .bubble.you:before {
  left: -3px;
  background-color: var(--blue);
}
.container .right .bubble.me {
  float: right;
  color: var(--dark);
  background-color: #eceff1;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}
.container .right .bubble.me:before {
  right: -3px;
  background-color: #eceff1;
}
.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: var(--grey);
}
.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: var(--light);
}
.container .right .conversation-start span:before {
  left: 0;
}
.container .right .conversation-start span:after {
  right: 0;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

.span {
  position:relative;
  padding:5px;
}
.im-tip {
  display:block;
  background:#f00;
  border-radius:50%;
  width:8px;
  height:8px;
  top:0px;
  right:0px;
  position:absolute;
}
.container .history {
  float: left;
  width: 30%;
  height: 100%;
  border: 1px solid var(--light);
  border-bottom-width: 0px;
  background-color: var(--white);
}
#msg {
  outline: none;
  resize: none;
  overflow-y: auto;
}
.emoji-box {
  max-width: 240px;
  display: flex;
}
.emoji-box > div {
  padding: 5px;
  flex: 1;
}
.emoji-box > div > img {
  max-width: 20px;
}
.emoji-img {
  max-width: 20px !important;
  height: auto !important;
  margin: 0 !important;
}

.fileupload-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.fileupload-button input {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
}
.upload-img {
  max-width: 200px !important;
  height: auto !important;
}
.me-time {
  float: left;
  width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 80%;
}
.you-time {
  float: right;
  width: 100%;
  margin-top: 4px;
  font-size: 80%;
}
.pointer {
  cursor: pointer;
}
/*.switchery-small {
  float: left;
  margin: 5px 0px;
}*/
#chatTime {
  border: 0;
  width: 80%;
  float: left;
  background-color: white;
  box-shadow: none;
}
.glyphicon-calendar {
  margin: 8px 0;
  float: left;
}
.history-date {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--light);
  margin-left: 0px;
}
.container .history .chat.active-chat .bubble {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  word-wrap: break-word;
  max-width: 300px;
}

.container .history .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}

.container .history .bubble.you {
  float: left;
  color: var(--white);
  background-color: var(--blue);
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
}
.container .history .bubble.me {
  float: left;
  color: var(--dark);
  background-color: #eceff1;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
}
.history-content {
  height: calc(100% - 35px);
  padding: 0 10px;
}
.container .history .bubble {
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  word-wrap: break-word;
  max-width: 300px;
}